//footer
.footer-container{
  padding: 25px 0;
}

.join-btn{
  background: #a3a3a3;
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.join-btn:hover, .join-btn:focus{
  color: #474747;
}

