.iframe-container{
  //height: 100vh;
  position: relative;
  padding-top: 30px;

  .panel{
    //width: 95%;
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    border: 1px solid #ddd !important;
    .panel-title{
      small{
        padding-left: 5px;
        font-weight: bold;
      }
    }

    .panel-body{
      ul{
        margin: 0;

        li{
          &:not(:last-child) {
            border-right: 1px solid #ddd;
            padding-right: 15px;
          }

          &:not(:first-child){
            padding-left: 15px;
          }

          h4{
            font-size: 15pt;
            margin-top: 0;
            font-weight: 600;
            small{
              font-size: 10pt;
              padding-left: 5px;
            }
          }

          p{
            font-size: 10pt;
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
